@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Global Styles */

* {
    font-family: "DM Sans", sans-serif;
    font-size: 19px;
    color: #373737;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    /* COLORS */
    --body-color: #f2f1ee;
    --sidebar-color: #ffffff;
    --primary-color: #04b000;
    --primary-color-light: rgba(4, 176, 0, 0.2);
    --text-color: #373737;
    --text-error: #ff0000;
    --icon-gray: rgba(55, 55, 55, 0.43);

    /* TRANSITION */
    --trans-02: all 0.2 ease;
    --trans-03: all 0.3 ease;
    --trans-04: all 0.4 ease;
    --trans-05: all 0.5 ease;
}

body {
    background-color: var(--body-color);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.error-msg {
    color: var(--text-error);
    font-style: italic;
    font-size: 1rem;
}

.user-index {
    font-weight: bold;
}


.logo-big {
    height: 8rem;
}

.logo-small {
    height: 5rem;
}

.logo-container {
    padding: 0;
}

.nav-item {
    padding: 2rem;
}

.user-index {
    padding-right: 2rem;
}

/* REUSABLE CSS */
.sidebar .logo-name {
    font-size: 17px;
    font-weight: 500;
    padding-left: 1rem;
}

.sidebar .logo-img {
    min-width: 65px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .logo-img .side-icon {
    font-size: 39px;
    color: var(--primary-color);

}


/* SIDEBAR CSS */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--sidebar-color);
    width: 90px;
    padding: 10px 14px;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    z-index: 3;
}
.sidebar:hover {
    width: 15rem;
    transition: all 0.5s ease;
}
.sidebar header {
    padding-top: 15px;
    padding-bottom: 15px;
}
.sidebar header .logo-sidebar {
    display: flex;
    align-items: center;
}

.sidebar .logo-sidebar img {
    /* width: 3.5rem; */
    height: 3rem;
}

.sidebar li .side-icon {
    font-size: 27px;
    min-width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .side-title {
    padding-left: 1.5rem;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}

.sidebar li .side-icon, .sidebar li .side-title {
    color: var(--text-color);
    transition: var(--trans-02);
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    /* background: var(--primary-color); */
    display: flex;
    align-items: center;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--trans-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .side-icon, .sidebar li a:hover .side-title {
    color: var(--body-color);
}

.sidebar .sidebar-menu {
    /* background: #636060; */
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .sidebar-bottom {
    padding-bottom: 2rem;
}

/* PAGE CONTAINER */
.content-container {
    padding-left: 4.5rem;
}


/* AUTH CONTENT */
.clear-btn {
    font-weight: bold;
    width: 10rem;
    padding: 1rem;
}

.submit-btn {
    font-weight: bold;
    height: 3.5rem;
    width: 10rem;
}

.bg-text {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
}

.header-texts {
    font-size: 2rem;
    font-weight: bold;
}

 .login-container {
    width: 80rem;
    height: 50rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-form {
    padding-left: 5rem;
    padding-top: 5.5rem;
}

.login-btn {
    height:3.5rem; 
    width:100%;
}

.bold-texts {
    font-weight: bold;
}

.side-img {
    background-image: url("../images/side-img1.png"); 
    border-top-right-radius:2rem; 
    border-bottom-right-radius:2rem; 
    background-repeat: no-repeat; 
    background-position: right; 
    background-size: cover; 
    clip-path: polygon(100% 100%, 2% 100%, 22% 0, 100% 0);
}

.accent-text {
    color: var(--primary-color);
    font-weight: bold;
}

.forget-pass .accent-text {
    font-weight: normal;
}

/* TABLE */
table .table-head {
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    font-weight: bold;
    text-align: center;
}

table td button {
    border: none;
    background-color: transparent;
}

table td #trash-btn {
    color: var(--text-error);
    font-size: 1.6rem;
}

/* TRAINING VIEW */
.prog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.prog-card, .add-prog-card {
    height: 21rem;
    width: 21rem;
    padding: 1.8rem;
    border-radius: 1.5rem;
}

.prog-card {
    border: 1px solid lightgray;
}

.add-prog-card {
    background-color: lightgray;
}

.add-prog-card button {
    background-color: transparent;
    border: none;
}

.prog-card h4 {
    font-weight: bold;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

h4, p {
    padding: 0;
    margin: 0;
}

.sub-text {
    color: var(--icon-gray);
}

.prog-card .prog-loc {
    margin-top: 3px;
    font-weight: 600;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.prog-card .prog-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Number of lines to show before truncating */
    overflow: hidden;

    text-overflow: ellipsis;
}

.prog-desc-container {
    height: 140px;
    max-height: 140px;
}

.prog-card .prog-details {
    width: 6.5rem;
    font-size: 16px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.period {
    margin-left: 5px;
    margin-right: 5px;
}

.prog-btn button {
    /* width: 4.5rem; */
    padding: 6px;
    font-weight: bold;
    border: none;
}

.delete-btn {
    color: var(--text-error);
    background-color: transparent;
    margin-right: 1rem;
}

.btn-default {
    background-color: var(--primary-color-light);
    color: var(--primary-color);
    border-radius: 1rem;
    padding: 5px;
}

.edit-btn {
    width: 6rem;
}

.btn-outline {
    border: 1px solid var(--primary-color);
    padding: 1.3rem;
    width: 8rem;
    border-radius: 2rem;
    color: var(--primary-color);
    font-weight: bold;
}

.btn-outline:hover {
    background-color: var(--primary-color);
    color: var(--body-color);
}


.add-btn {
    display: flex;
    font-size: 100px;
    /* font-weight: bold; */
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.popup-title {
    background-color: var(--primary-color);
}

.popup-title h1 {
    font-weight: bold;
    color: var(--body-color);
}


/* HOMEPAGE */
.bxs-inbox {
    color: var(--primary-color);
    font-size: 26px;
}
.home-top {
    margin-top: 1rem;
    padding-bottom: 5rem;
}

.home-captions {
    padding: 2rem;
}

.header-caption h1 {
    margin-top: 3.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 70px;
    color: var(--primary-color);
}


.home-captions .sub-caption p {
    font-size: 23px;
}

.carousel-container, .carousel-container img {
    height: 35rem;
}

.carousel-item img {
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--icon-gray);
    /* border-radius: 50%; */
    height: 100%;
    width: 3.5rem;
    padding: 10px;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: var(--primary-color-light);
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}


.dev-info {
    padding: 2.5rem;
}


#about, #socials {
    padding-right: 6rem;
}

#socials div {
    margin-bottom: 1rem;
}

#socials div span {
    font-size: 23px;
}